body {
    background-color: #ff6161;
    background-image: url(logo/Business\ Logo1\ \(3\).png);
    background-repeat: no-repeat;
    background-position: center 300px;
    background-size: 350px;
    margin: 0;
    font-family: "Fira Sans", Arial, sans-serif;
  }